software/node-red/siegfried/flows.json
[
    {
        "id": "a7233230404c3289",
        "type": "tab",
        "label": "Hardware Layer",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "726798b2ed2e9d52",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3b13721691d68660",
        "type": "tab",
        "label": "Energy",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "78b28997a4d07be2",
        "type": "tab",
        "label": "Fridge",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "162cea04a51a0717",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ffd71fb61f1d4553",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e5a79410f858330",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a74bb25de5c78e26",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "eb3dc518d2e4c032",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "4e5a79410f858330",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "36d09c259c655fae",
        "type": "ui_group",
        "name": "fridge",
        "tab": "4e5a79410f858330",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bf5fc43d691b1bab",
        "type": "ui_group",
        "name": "Water System",
        "tab": "4e5a79410f858330",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b844a8aa1ffbad4",
        "type": "ui_group",
        "name": "Inverter",
        "tab": "4e5a79410f858330",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8d207109f202f502",
        "type": "ui_tab",
        "name": "Fridge",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6c304982dc7231d9",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "8d207109f202f502",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "72a8d1b89999131f",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "8d207109f202f502",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bd4868f5f122cb15",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a2fa63e7b733b5e1",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c0873438b4b186e4",
        "type": "ui_group",
        "name": "Outputs",
        "tab": "bd4868f5f122cb15",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d05444eba45da17",
        "type": "ui_group",
        "name": "Inputs",
        "tab": "bd4868f5f122cb15",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "594a8a527370c352",
        "type": "serial-port",
        "serialport": "/dev/ttyS0",
        "serialbaud": "19200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "94b0afa1b11b1713",
        "type": "ui_tab",
        "name": "Hardware",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1af7c6782ddcc994",
        "type": "ui_group",
        "name": "Default",
        "tab": "94b0afa1b11b1713",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b3e1c2622ed431f",
        "type": "ui_slider",
        "z": "a7233230404c3289",
        "name": "",
        "label": "lead battery",
        "tooltip": "",
        "group": "72a8d1b89999131f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "9",
        "max": "14",
        "step": "0.1",
        "className": "",
        "x": 490,
        "y": 80,
        "wires": [
            [
                "99c22af463a4c1cc",
                "3416036869466cc8"
            ]
        ]
    },
    {
        "id": "99c22af463a4c1cc",
        "type": "ui_gauge",
        "z": "a7233230404c3289",
        "name": "",
        "group": "1af7c6782ddcc994",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery SOC",
        "label": "Volts",
        "format": "{{value}}",
        "min": "9",
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "caf4c6bb088ba532",
        "type": "ui_slider",
        "z": "a7233230404c3289",
        "name": "",
        "label": "temperature outside",
        "tooltip": "",
        "group": "eb3dc518d2e4c032",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-20",
        "max": "50",
        "step": "0.5",
        "className": "",
        "x": 460,
        "y": 900,
        "wires": [
            [
                "5526c013d2a24fec",
                "b3d9c6b1983dfca5"
            ]
        ]
    },
    {
        "id": "5526c013d2a24fec",
        "type": "ui_gauge",
        "z": "a7233230404c3289",
        "name": "",
        "group": "1af7c6782ddcc994",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Outside",
        "label": "C°",
        "format": "{{value}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#00a3d7",
            "#00f900",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "30",
        "className": "",
        "x": 680,
        "y": 900,
        "wires": []
    },
    {
        "id": "0531f7948b8b2301",
        "type": "ui_slider",
        "z": "a7233230404c3289",
        "name": "",
        "label": "temperature inside",
        "tooltip": "",
        "group": "eb3dc518d2e4c032",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-20",
        "max": "50",
        "step": "0.5",
        "className": "",
        "x": 450,
        "y": 980,
        "wires": [
            [
                "9337dcef227f9dc2",
                "755c217e0328299b"
            ]
        ]
    },
    {
        "id": "9337dcef227f9dc2",
        "type": "ui_gauge",
        "z": "a7233230404c3289",
        "name": "",
        "group": "1af7c6782ddcc994",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Inside",
        "label": "C°",
        "format": "{{value}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#00a3d7",
            "#00f900",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "30",
        "className": "",
        "x": 670,
        "y": 980,
        "wires": []
    },
    {
        "id": "a59923252fcb42db",
        "type": "ui_slider",
        "z": "a7233230404c3289",
        "name": "",
        "label": "temperature fridge",
        "tooltip": "",
        "group": "72a8d1b89999131f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "20",
        "step": "0.5",
        "className": "",
        "x": 450,
        "y": 1100,
        "wires": [
            [
                "e5d7e3a0044aee2e",
                "8a9c33c902845731",
                "366280e10da506b0",
                "180d42ca4f0187b7"
            ]
        ]
    },
    {
        "id": "e5d7e3a0044aee2e",
        "type": "ui_gauge",
        "z": "a7233230404c3289",
        "name": "",
        "group": "1af7c6782ddcc994",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Fridge",
        "label": "C°",
        "format": "{{value}}",
        "min": "0",
        "max": "20",
        "colors": [
            "#00a3d7",
            "#00f900",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 710,
        "y": 1140,
        "wires": []
    },
    {
        "id": "5f636e4317b4615a",
        "type": "ui_slider",
        "z": "a7233230404c3289",
        "name": "",
        "label": "flow sensor",
        "tooltip": "",
        "group": "bf5fc43d691b1bab",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "10",
        "step": "0.1",
        "className": "",
        "x": 510,
        "y": 660,
        "wires": [
            [
                "8cdfd17965b27460",
                "d023b67835d9125c"
            ]
        ]
    },
    {
        "id": "8cdfd17965b27460",
        "type": "ui_gauge",
        "z": "a7233230404c3289",
        "name": "",
        "group": "1af7c6782ddcc994",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Flow sensor",
        "label": "l/min",
        "format": "{{value}}",
        "min": "0",
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 730,
        "y": 660,
        "wires": []
    },
    {
        "id": "086173b7be5b7a42",
        "type": "ui_switch",
        "z": "a7233230404c3289",
        "name": "",
        "label": "pump switch",
        "tooltip": "",
        "group": "bf5fc43d691b1bab",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 510,
        "y": 740,
        "wires": [
            [
                "f0391c744ff7bdeb",
                "06b191bc112c9c39"
            ]
        ]
    },
    {
        "id": "f0391c744ff7bdeb",
        "type": "ui_text",
        "z": "a7233230404c3289",
        "group": "1af7c6782ddcc994",
        "order": 2,
        "width": "1",
        "height": "1",
        "name": "pump switch",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 730,
        "y": 740,
        "wires": []
    },
    {
        "id": "c61391390eba57d0",
        "type": "ui_switch",
        "z": "a7233230404c3289",
        "name": "",
        "label": "inverter switch",
        "tooltip": "",
        "group": "1b844a8aa1ffbad4",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 500,
        "y": 160,
        "wires": [
            [
                "2df0850a6cf69df6",
                "83869ca7c0d5d806"
            ]
        ]
    },
    {
        "id": "2df0850a6cf69df6",
        "type": "ui_text",
        "z": "a7233230404c3289",
        "group": "1af7c6782ddcc994",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "inverter switch",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 720,
        "y": 160,
        "wires": []
    },
    {
        "id": "11a8122511c203bd",
        "type": "ui_switch",
        "z": "a7233230404c3289",
        "name": "",
        "label": "pump",
        "tooltip": "",
        "group": "bf5fc43d691b1bab",
        "order": 6,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 780,
        "wires": [
            [
                "c69252472a3d4ed1"
            ]
        ]
    },
    {
        "id": "c69252472a3d4ed1",
        "type": "ui_text",
        "z": "a7233230404c3289",
        "group": "bf5fc43d691b1bab",
        "order": 7,
        "width": "1",
        "height": "1",
        "name": "pump",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 710,
        "y": 780,
        "wires": []
    },
    {
        "id": "b3d9c6b1983dfca5",
        "type": "debug",
        "z": "a7233230404c3289",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 860,
        "wires": []
    },
    {
        "id": "d023b67835d9125c",
        "type": "debug",
        "z": "a7233230404c3289",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "755c217e0328299b",
        "type": "debug",
        "z": "a7233230404c3289",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 940,
        "wires": []
    },
    {
        "id": "06b191bc112c9c39",
        "type": "debug",
        "z": "a7233230404c3289",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 700,
        "wires": []
    },
    {
        "id": "83869ca7c0d5d806",
        "type": "debug",
        "z": "a7233230404c3289",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "7407821bdd94fd53",
        "type": "inject",
        "z": "a7233230404c3289",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 780,
        "wires": [
            [
                "11a8122511c203bd"
            ]
        ]
    },
    {
        "id": "57064ef7ae0db40a",
        "type": "inject",
        "z": "a7233230404c3289",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 820,
        "wires": [
            [
                "11a8122511c203bd"
            ]
        ]
    },
    {
        "id": "c77083e10fbebf8b",
        "type": "ui_switch",
        "z": "a7233230404c3289",
        "name": "",
        "label": "Inverter source",
        "tooltip": "",
        "group": "1b844a8aa1ffbad4",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "Lead battery",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "LFP battery",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 500,
        "y": 200,
        "wires": [
            [
                "ac9db93a3d2623f2"
            ]
        ]
    },
    {
        "id": "ac9db93a3d2623f2",
        "type": "ui_text",
        "z": "a7233230404c3289",
        "group": "1af7c6782ddcc994",
        "order": 7,
        "width": "3",
        "height": "1",
        "name": "inverter source",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "ed3e2b3d9ee9136e",
        "type": "inject",
        "z": "a7233230404c3289",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Lead battery",
        "payloadType": "str",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "c77083e10fbebf8b"
            ]
        ]
    },
    {
        "id": "ed33bde0f0dd6409",
        "type": "inject",
        "z": "a7233230404c3289",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "LFP battery",
        "payloadType": "str",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "c77083e10fbebf8b"
            ]
        ]
    },
    {
        "id": "db39488bd8f4eb8a",
        "type": "ui_switch",
        "z": "a7233230404c3289",
        "name": "",
        "label": "Inverter Enable",
        "tooltip": "",
        "group": "1b844a8aa1ffbad4",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 500,
        "y": 280,
        "wires": [
            [
                "3c492e3be7a6ea41"
            ]
        ]
    },
    {
        "id": "3c492e3be7a6ea41",
        "type": "ui_text",
        "z": "a7233230404c3289",
        "group": "1af7c6782ddcc994",
        "order": 9,
        "width": "3",
        "height": "1",
        "name": "inverter enable",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 720,
        "y": 280,
        "wires": []
    },
    {
        "id": "9998af8b0b68cf5b",
        "type": "inject",
        "z": "a7233230404c3289",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "db39488bd8f4eb8a"
            ]
        ]
    },
    {
        "id": "a5aa5dd763025522",
        "type": "inject",
        "z": "a7233230404c3289",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "db39488bd8f4eb8a"
            ]
        ]
    },
    {
        "id": "e4561b1744db5b6a",
        "type": "ui_switch",
        "z": "a7233230404c3289",
        "name": "",
        "label": "Charger enable",
        "tooltip": "",
        "group": "1b844a8aa1ffbad4",
        "order": 10,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 500,
        "y": 360,
        "wires": [
            [
                "1729772998d403db"
            ]
        ]
    },
    {
        "id": "1729772998d403db",
        "type": "ui_text",
        "z": "a7233230404c3289",
        "group": "1af7c6782ddcc994",
        "order": 11,
        "width": "3",
        "height": "1",
        "name": "charger enable",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 720,
        "y": 360,
        "wires": []
    },
    {
        "id": "6a6f8cc820193f92",
        "type": "inject",
        "z": "a7233230404c3289",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "e4561b1744db5b6a"
            ]
        ]
    },
    {
        "id": "116e869ccc7d644a",
        "type": "inject",
        "z": "a7233230404c3289",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "e4561b1744db5b6a"
            ]
        ]
    },
    {
        "id": "afc002fd9b5dc06c",
        "type": "ui_text",
        "z": "a7233230404c3289",
        "group": "36d09c259c655fae",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Readings",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 60,
        "y": 1020,
        "wires": []
    },
    {
        "id": "05f01907415a96d5",
        "type": "ui_text",
        "z": "a7233230404c3289",
        "group": "1b844a8aa1ffbad4",
        "order": 5,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Readings",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 140,
        "y": 120,
        "wires": []
    },
    {
        "id": "9518b6e9a9ca72d0",
        "type": "ui_text",
        "z": "a7233230404c3289",
        "group": "bf5fc43d691b1bab",
        "order": 5,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Readings",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 140,
        "y": 680,
        "wires": []
    },
    {
        "id": "8a9c33c902845731",
        "type": "link out",
        "z": "a7233230404c3289",
        "name": "fridge temp",
        "mode": "link",
        "links": [
            "824207ada65b92c0"
        ],
        "x": 635,
        "y": 1060,
        "wires": []
    },
    {
        "id": "1ee8a0ddf5ec7130",
        "type": "link in",
        "z": "a7233230404c3289",
        "name": "fridge motor",
        "links": [
            "fc70ec1c8f6bc9d5"
        ],
        "x": 195,
        "y": 1200,
        "wires": [
            [
                "a317185146b83f39"
            ]
        ]
    },
    {
        "id": "a317185146b83f39",
        "type": "ui_led",
        "z": "a7233230404c3289",
        "order": 3,
        "group": "1af7c6782ddcc994",
        "width": "6",
        "height": "2",
        "label": "Fridge Compressor Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "error",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "running",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "stopped",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Fridge Compressor Status",
        "x": 580,
        "y": 1200,
        "wires": []
    },
    {
        "id": "dcb33a114f4794bd",
        "type": "link in",
        "z": "a7233230404c3289",
        "name": "trigger temp update",
        "links": [],
        "x": 145,
        "y": 1100,
        "wires": [
            [
                "fe75baed2b7b1f38"
            ]
        ]
    },
    {
        "id": "366280e10da506b0",
        "type": "change",
        "z": "a7233230404c3289",
        "name": "fridge temp",
        "rules": [
            {
                "t": "set",
                "p": "flow_temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "fe75baed2b7b1f38",
        "type": "change",
        "z": "a7233230404c3289",
        "name": "fridge temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "fridge_temp",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 1100,
        "wires": [
            [
                "a59923252fcb42db"
            ]
        ]
    },
    {
        "id": "180d42ca4f0187b7",
        "type": "link out",
        "z": "a7233230404c3289",
        "name": "fridge temp call",
        "mode": "return",
        "links": [],
        "x": 635,
        "y": 1020,
        "wires": []
    },
    {
        "id": "3416036869466cc8",
        "type": "link out",
        "z": "a7233230404c3289",
        "name": "lead voltage",
        "mode": "link",
        "links": [
            "7d8e2444976e4fe1"
        ],
        "x": 655,
        "y": 40,
        "wires": []
    },
    {
        "id": "1a5737cf1628b322",
        "type": "function",
        "z": "a7233230404c3289",
        "name": "",
        "func": "//turn on\nif(msg.payload){\n    return[{payload:true}, {payload:false}, null];\n}\n// turn off\nelse {\n    \n    return[null, {payload:false}, {payload:true}];\n}",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 120,
        "wires": [
            [
                "782769a562223dec"
            ],
            [
                "38537662831ea5ef"
            ],
            [
                "90613ed6f9f64d81"
            ]
        ]
    },
    {
        "id": "38537662831ea5ef",
        "type": "delay",
        "z": "a7233230404c3289",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1490,
        "y": 120,
        "wires": [
            [
                "782769a562223dec",
                "90613ed6f9f64d81"
            ]
        ]
    },
    {
        "id": "782769a562223dec",
        "type": "rpi-gpio out",
        "z": "a7233230404c3289",
        "name": "fridge enable",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1690,
        "y": 60,
        "wires": []
    },
    {
        "id": "90613ed6f9f64d81",
        "type": "rpi-gpio out",
        "z": "a7233230404c3289",
        "name": "fridge disable",
        "pin": "22",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1700,
        "y": 180,
        "wires": []
    },
    {
        "id": "b8e691216781847a",
        "type": "switch",
        "z": "a7233230404c3289",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "fridge",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "charger",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inverter",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "battery_select",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pump",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "aux_output",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 1070,
        "y": 380,
        "wires": [
            [
                "1a5737cf1628b322"
            ],
            [
                "d57f3fed3232e6aa"
            ],
            [
                "be1fef61343d6adc"
            ],
            [
                "753d5c95ab39943d"
            ],
            [
                "9acc11c403c64e91"
            ],
            [
                "18ed1d456a74c5db"
            ]
        ]
    },
    {
        "id": "d57f3fed3232e6aa",
        "type": "function",
        "z": "a7233230404c3289",
        "name": "",
        "func": "//turn on\nif(msg.payload){\n    return[{payload:true}, {payload:false}, null];\n}\n// turn off\nelse {\n    \n    return[null, {payload:false}, {payload:true}];\n}",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 280,
        "wires": [
            [
                "76193dba3bc24373"
            ],
            [
                "065f9781f2fab846"
            ],
            [
                "88cc2e82349ad803"
            ]
        ]
    },
    {
        "id": "065f9781f2fab846",
        "type": "delay",
        "z": "a7233230404c3289",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1490,
        "y": 280,
        "wires": [
            [
                "76193dba3bc24373",
                "88cc2e82349ad803"
            ]
        ]
    },
    {
        "id": "be1fef61343d6adc",
        "type": "function",
        "z": "a7233230404c3289",
        "name": "",
        "func": "//turn on\nif(msg.payload){\n    return[{payload:true}, {payload:false}, null];\n}\n// turn off\nelse {\n    \n    return[null, {payload:false}, {payload:true}];\n}",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 440,
        "wires": [
            [
                "7ef21e46e8d661a8"
            ],
            [
                "bf34d6585b32494c"
            ],
            [
                "da7bf915a49c62e2"
            ]
        ]
    },
    {
        "id": "bf34d6585b32494c",
        "type": "delay",
        "z": "a7233230404c3289",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1490,
        "y": 440,
        "wires": [
            [
                "7ef21e46e8d661a8",
                "da7bf915a49c62e2"
            ]
        ]
    },
    {
        "id": "76193dba3bc24373",
        "type": "rpi-gpio out",
        "z": "a7233230404c3289",
        "name": "charger enable",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1700,
        "y": 220,
        "wires": []
    },
    {
        "id": "88cc2e82349ad803",
        "type": "rpi-gpio out",
        "z": "a7233230404c3289",
        "name": "charger disable",
        "pin": "17",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1700,
        "y": 340,
        "wires": []
    },
    {
        "id": "7ef21e46e8d661a8",
        "type": "rpi-gpio out",
        "z": "a7233230404c3289",
        "name": "inverter enable",
        "pin": "8",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1700,
        "y": 380,
        "wires": []
    },
    {
        "id": "da7bf915a49c62e2",
        "type": "rpi-gpio out",
        "z": "a7233230404c3289",
        "name": "inverter disable",
        "pin": "25",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1700,
        "y": 500,
        "wires": []
    },
    {
        "id": "3c41044470a0259c",
        "type": "link in",
        "z": "a7233230404c3289",
        "name": "",
        "links": [],
        "x": 965,
        "y": 380,
        "wires": [
            [
                "b8e691216781847a"
            ]
        ]
    },
    {
        "id": "74b2ecf88209a57e",
        "type": "rpi-gpio out",
        "z": "a7233230404c3289",
        "name": "inverter source sel",
        "pin": "24",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1710,
        "y": 560,
        "wires": []
    },
    {
        "id": "18ed1d456a74c5db",
        "type": "rpi-gpio out",
        "z": "a7233230404c3289",
        "name": "aux_output",
        "pin": "13",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1310,
        "y": 660,
        "wires": []
    },
    {
        "id": "9acc11c403c64e91",
        "type": "rpi-gpio out",
        "z": "a7233230404c3289",
        "name": "pump",
        "pin": "12",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1290,
        "y": 620,
        "wires": []
    },
    {
        "id": "753d5c95ab39943d",
        "type": "change",
        "z": "a7233230404c3289",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "lfp_battery",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "lead_battery",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 560,
        "wires": [
            [
                "74b2ecf88209a57e"
            ]
        ]
    },
    {
        "id": "62b805e1a5e96579",
        "type": "rpi-gpio in",
        "z": "a7233230404c3289",
        "name": "reservoir sen",
        "pin": "6",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 1070,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "617471841b2f9af8",
        "type": "rpi-gpio in",
        "z": "a7233230404c3289",
        "name": "inverter switch",
        "pin": "16",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 1080,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "5cc0677001704f3a",
        "type": "rpi-gpio in",
        "z": "a7233230404c3289",
        "name": "water sen",
        "pin": "20",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 1060,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "6bc225a958d0b857",
        "type": "rpi-gpio in",
        "z": "a7233230404c3289",
        "name": "pump switch",
        "pin": "21",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 1070,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "cead0d34d453b78b",
        "type": "comment",
        "z": "a7233230404c3289",
        "name": "Hardware Output",
        "info": "",
        "x": 1040,
        "y": 40,
        "wires": []
    },
    {
        "id": "70b061ebea3e6388",
        "type": "comment",
        "z": "a7233230404c3289",
        "name": "Hardware Input",
        "info": "",
        "x": 1040,
        "y": 720,
        "wires": []
    },
    {
        "id": "675526f4c5306cda",
        "type": "change",
        "z": "a7233230404c3289",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "test",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "3c1ffe73b922b48d",
        "type": "ui_button",
        "z": "726798b2ed2e9d52",
        "name": "on_fridge",
        "group": "c0873438b4b186e4",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "aa8a66372e7ba44e",
                "da1eae8a7f3d3b71",
                "57ec586e7e859027"
            ]
        ]
    },
    {
        "id": "aa8a66372e7ba44e",
        "type": "rpi-gpio out",
        "z": "726798b2ed2e9d52",
        "name": "fridge enable",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "5cbf47ddd2592a40",
        "type": "ui_button",
        "z": "726798b2ed2e9d52",
        "name": "off_fridge",
        "group": "c0873438b4b186e4",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "31560b05859fb872",
                "4d221330a3a27921"
            ]
        ]
    },
    {
        "id": "31560b05859fb872",
        "type": "rpi-gpio out",
        "z": "726798b2ed2e9d52",
        "name": "fridge disable",
        "pin": "22",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "16e0cfdba48a053c",
        "type": "ui_button",
        "z": "726798b2ed2e9d52",
        "name": "on_charger",
        "group": "c0873438b4b186e4",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "96de38f7c94c4261",
                "bf906055a61956b9",
                "fdcede4eaa217b62"
            ]
        ]
    },
    {
        "id": "50b04ce704067397",
        "type": "ui_button",
        "z": "726798b2ed2e9d52",
        "name": "off_charger",
        "group": "c0873438b4b186e4",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "f1aebf49c104cbd9",
                "6645311d11a2e0e2"
            ]
        ]
    },
    {
        "id": "da1eae8a7f3d3b71",
        "type": "delay",
        "z": "726798b2ed2e9d52",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 370,
        "y": 60,
        "wires": [
            [
                "403a86068e97f93e"
            ]
        ]
    },
    {
        "id": "403a86068e97f93e",
        "type": "change",
        "z": "726798b2ed2e9d52",
        "name": "return false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 60,
        "wires": [
            [
                "aa8a66372e7ba44e"
            ]
        ]
    },
    {
        "id": "9ed59ab1c6c5ebce",
        "type": "change",
        "z": "726798b2ed2e9d52",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 240,
        "wires": [
            [
                "31560b05859fb872",
                "57ec586e7e859027"
            ]
        ]
    },
    {
        "id": "96de38f7c94c4261",
        "type": "rpi-gpio out",
        "z": "726798b2ed2e9d52",
        "name": "charger enable",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 760,
        "y": 380,
        "wires": []
    },
    {
        "id": "f1aebf49c104cbd9",
        "type": "rpi-gpio out",
        "z": "726798b2ed2e9d52",
        "name": "charger disable",
        "pin": "17",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 760,
        "y": 480,
        "wires": []
    },
    {
        "id": "9a787a55cce7550d",
        "type": "change",
        "z": "726798b2ed2e9d52",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 320,
        "wires": [
            [
                "96de38f7c94c4261"
            ]
        ]
    },
    {
        "id": "9885c691789552ed",
        "type": "change",
        "z": "726798b2ed2e9d52",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 500,
        "wires": [
            [
                "f1aebf49c104cbd9",
                "bf906055a61956b9"
            ]
        ]
    },
    {
        "id": "707ff0e522ee5e51",
        "type": "ui_button",
        "z": "726798b2ed2e9d52",
        "name": "on_inverter",
        "group": "c0873438b4b186e4",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 660,
        "wires": [
            [
                "c0ea6a0136a69417",
                "7ecc510900c975ac",
                "7587fcd36be82f0f"
            ]
        ]
    },
    {
        "id": "324754eaad111fb8",
        "type": "ui_button",
        "z": "726798b2ed2e9d52",
        "name": "off_inverter",
        "group": "c0873438b4b186e4",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 700,
        "wires": [
            [
                "0eef2817868f5432",
                "f6a539d5975a8810"
            ]
        ]
    },
    {
        "id": "c0ea6a0136a69417",
        "type": "rpi-gpio out",
        "z": "726798b2ed2e9d52",
        "name": "inverter enable",
        "pin": "8",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 760,
        "y": 620,
        "wires": []
    },
    {
        "id": "0eef2817868f5432",
        "type": "rpi-gpio out",
        "z": "726798b2ed2e9d52",
        "name": "inverter disable",
        "pin": "25",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 760,
        "y": 700,
        "wires": []
    },
    {
        "id": "89ee0aea7b7c93b5",
        "type": "change",
        "z": "726798b2ed2e9d52",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 580,
        "wires": [
            [
                "c0ea6a0136a69417"
            ]
        ]
    },
    {
        "id": "83810d043c095d6a",
        "type": "change",
        "z": "726798b2ed2e9d52",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 760,
        "wires": [
            [
                "0eef2817868f5432",
                "7ecc510900c975ac"
            ]
        ]
    },
    {
        "id": "6abdf169843197a4",
        "type": "rpi-gpio out",
        "z": "726798b2ed2e9d52",
        "name": "inverter source sel",
        "pin": "24",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 770,
        "y": 940,
        "wires": []
    },
    {
        "id": "57ec586e7e859027",
        "type": "ui_led",
        "z": "726798b2ed2e9d52",
        "order": 4,
        "group": "c0873438b4b186e4",
        "width": "0",
        "height": "0",
        "label": "fridge relay: ",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led fridge",
        "x": 740,
        "y": 140,
        "wires": []
    },
    {
        "id": "bf906055a61956b9",
        "type": "ui_led",
        "z": "726798b2ed2e9d52",
        "order": 1,
        "group": "c0873438b4b186e4",
        "width": "0",
        "height": "0",
        "label": "charger relay: ",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led charger",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "7ecc510900c975ac",
        "type": "ui_led",
        "z": "726798b2ed2e9d52",
        "order": 7,
        "group": "c0873438b4b186e4",
        "width": "0",
        "height": "0",
        "label": "inverter relay: ",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led inverter",
        "x": 750,
        "y": 660,
        "wires": []
    },
    {
        "id": "4d221330a3a27921",
        "type": "delay",
        "z": "726798b2ed2e9d52",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "9ed59ab1c6c5ebce"
            ]
        ]
    },
    {
        "id": "fdcede4eaa217b62",
        "type": "delay",
        "z": "726798b2ed2e9d52",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 370,
        "y": 320,
        "wires": [
            [
                "9a787a55cce7550d"
            ]
        ]
    },
    {
        "id": "6645311d11a2e0e2",
        "type": "delay",
        "z": "726798b2ed2e9d52",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 370,
        "y": 500,
        "wires": [
            [
                "9885c691789552ed"
            ]
        ]
    },
    {
        "id": "7587fcd36be82f0f",
        "type": "delay",
        "z": "726798b2ed2e9d52",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 370,
        "y": 580,
        "wires": [
            [
                "89ee0aea7b7c93b5"
            ]
        ]
    },
    {
        "id": "f6a539d5975a8810",
        "type": "delay",
        "z": "726798b2ed2e9d52",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 370,
        "y": 760,
        "wires": [
            [
                "83810d043c095d6a"
            ]
        ]
    },
    {
        "id": "b283bc9fdcb5ba87",
        "type": "ui_button",
        "z": "726798b2ed2e9d52",
        "name": "lfp battery",
        "group": "c0873438b4b186e4",
        "order": 11,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "LFP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 860,
        "wires": [
            [
                "6abdf169843197a4",
                "7f3657f0c73f821d"
            ]
        ]
    },
    {
        "id": "f8df2460124aeee3",
        "type": "ui_button",
        "z": "726798b2ed2e9d52",
        "name": "lead battery",
        "group": "c0873438b4b186e4",
        "order": 12,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Lead",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 900,
        "wires": [
            [
                "6abdf169843197a4",
                "221c43b06023d1ee"
            ]
        ]
    },
    {
        "id": "66df1dcf38a45c40",
        "type": "ui_text",
        "z": "726798b2ed2e9d52",
        "group": "c0873438b4b186e4",
        "order": 10,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "inverter source select: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 860,
        "wires": []
    },
    {
        "id": "221c43b06023d1ee",
        "type": "change",
        "z": "726798b2ed2e9d52",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Lead Battery",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 880,
        "wires": [
            [
                "66df1dcf38a45c40"
            ]
        ]
    },
    {
        "id": "7f3657f0c73f821d",
        "type": "change",
        "z": "726798b2ed2e9d52",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "LFP Battery",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 840,
        "wires": [
            [
                "66df1dcf38a45c40"
            ]
        ]
    },
    {
        "id": "8dfbc6a06a53a979",
        "type": "rpi-gpio out",
        "z": "726798b2ed2e9d52",
        "name": "electrovalve",
        "pin": "13",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 770,
        "y": 1200,
        "wires": []
    },
    {
        "id": "1d04ec08ad4d7761",
        "type": "rpi-gpio out",
        "z": "726798b2ed2e9d52",
        "name": "pump",
        "pin": "12",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 750,
        "y": 1060,
        "wires": []
    },
    {
        "id": "3e360aa06b0897a1",
        "type": "ui_switch",
        "z": "726798b2ed2e9d52",
        "name": "pump switch",
        "label": "pump switch",
        "tooltip": "",
        "group": "c0873438b4b186e4",
        "order": 13,
        "width": "4",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 1060,
        "wires": [
            [
                "1d04ec08ad4d7761",
                "1cc9c852a6ae4447"
            ]
        ]
    },
    {
        "id": "1cc9c852a6ae4447",
        "type": "ui_led",
        "z": "726798b2ed2e9d52",
        "order": 14,
        "group": "c0873438b4b186e4",
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led pump",
        "x": 760,
        "y": 1100,
        "wires": []
    },
    {
        "id": "e3098072c88e0663",
        "type": "ui_led",
        "z": "726798b2ed2e9d52",
        "order": 14,
        "group": "c0873438b4b186e4",
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led pump",
        "x": 760,
        "y": 1260,
        "wires": []
    },
    {
        "id": "2286f91378141185",
        "type": "ui_switch",
        "z": "726798b2ed2e9d52",
        "name": "pump switch",
        "label": "pump switch",
        "tooltip": "",
        "group": "c0873438b4b186e4",
        "order": 13,
        "width": "4",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 1200,
        "wires": [
            [
                "8dfbc6a06a53a979",
                "e3098072c88e0663"
            ]
        ]
    },
    {
        "id": "711f7a7356182f09",
        "type": "function",
        "z": "3b13721691d68660",
        "name": "",
        "func": "var level = Math.round((msg.payload- 9)*20);\nglobal.set('lead_soc', level);\nglobal.set('lfp_soc', level);\nmsg.payload = level;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 200,
        "wires": [
            [
                "a3f948a0aeabaf2d",
                "10890d3192203f91"
            ]
        ]
    },
    {
        "id": "7d8e2444976e4fe1",
        "type": "link in",
        "z": "3b13721691d68660",
        "name": "lead voltage in",
        "links": [
            "3416036869466cc8"
        ],
        "x": 165,
        "y": 200,
        "wires": [
            [
                "711f7a7356182f09"
            ]
        ]
    },
    {
        "id": "a3f948a0aeabaf2d",
        "type": "ui_gauge",
        "z": "3b13721691d68660",
        "name": "",
        "group": "72a8d1b89999131f",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "SOC",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "10890d3192203f91",
        "type": "link out",
        "z": "3b13721691d68660",
        "name": "SOC",
        "mode": "link",
        "links": [
            "e82eeaba3ef35cbd"
        ],
        "x": 455,
        "y": 240,
        "wires": []
    },
    {
        "id": "08c5c713b62ce9a6",
        "type": "ui_gauge",
        "z": "78b28997a4d07be2",
        "name": "",
        "group": "6c304982dc7231d9",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Fridge Temperature",
        "label": "C°",
        "format": "{{value}}",
        "min": "-20",
        "max": "20",
        "colors": [
            "#00fdff",
            "#00f900",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 810,
        "y": 500,
        "wires": []
    },
    {
        "id": "b5c43be785249085",
        "type": "ui_dropdown",
        "z": "78b28997a4d07be2",
        "name": "",
        "label": "Fridge Algorithm",
        "tooltip": "",
        "place": "always off",
        "group": "6c304982dc7231d9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Winter",
                "value": "winter",
                "type": "str"
            },
            {
                "label": "summer",
                "value": "summer",
                "type": "str"
            },
            {
                "label": "battery life",
                "value": "battery life",
                "type": "str"
            },
            {
                "label": "always on",
                "value": "always on",
                "type": "str"
            },
            {
                "label": "always off",
                "value": "always off",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "51ed073e7b2f0fd3",
                "9342b1041f1f9ae3"
            ]
        ]
    },
    {
        "id": "2a87cc921872582f",
        "type": "ui_led",
        "z": "78b28997a4d07be2",
        "order": 3,
        "group": "6c304982dc7231d9",
        "width": "6",
        "height": "2",
        "label": "Fridge Compressor Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffa500",
                "value": "error",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Fridge Compressor Status",
        "x": 1600,
        "y": 260,
        "wires": []
    },
    {
        "id": "3313eca393a477fb",
        "type": "function",
        "z": "78b28997a4d07be2",
        "name": "always off",
        "func": "var algorithm=flow.get('algorithm') || 0;\n\nif(algorithm == \"always off\"){\n    msg.payload = false;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 200,
        "wires": [
            [
                "1447651ddc652524"
            ]
        ]
    },
    {
        "id": "6dd922fb88a0058b",
        "type": "function",
        "z": "78b28997a4d07be2",
        "name": "always on",
        "func": "var algorithm=flow.get('algorithm') || 0;\n\nif(algorithm == \"always on\"){\n    msg.payload = true;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 240,
        "wires": [
            [
                "1447651ddc652524"
            ]
        ]
    },
    {
        "id": "883ff0dabf8e8aaa",
        "type": "function",
        "z": "78b28997a4d07be2",
        "name": "winter algorithm",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 280,
        "wires": [
            [
                "1447651ddc652524"
            ]
        ]
    },
    {
        "id": "1966728c9236e2bb",
        "type": "function",
        "z": "78b28997a4d07be2",
        "name": "summer algorithm",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 320,
        "wires": [
            [
                "1447651ddc652524"
            ]
        ]
    },
    {
        "id": "a0bbb818d234da39",
        "type": "function",
        "z": "78b28997a4d07be2",
        "name": "battery life algorithm",
        "func": "var algorithm=flow.get('algorithm') || 0;\n\nif(algorithm == \"battery life\"){\n\n    var lfp_soc = global.get('lfp_soc') || 0;\n    var fridge_temp = flow.get('fridge_temp') || 0;\n    \n    const UPPER_FRIDGE_TEMP_THRESHOLD = 10;\n    const LOWER_FRIDGE_TEMP_THRESHOLD = 6;\n    const UPPER_LFP_SOC_THRESHOLD = 35;\n    const LOWER_LFP_SOC_THRESHOLD = 20;\n    \n    if(lfp_soc >= UPPER_LFP_SOC_THRESHOLD && fridge_temp >= UPPER_FRIDGE_TEMP_THRESHOLD) {\n        msg.payload = true;\n        return msg;\n    }\n    else if(lfp_soc < LOWER_LFP_SOC_THRESHOLD) {\n        flow.set('low_soc', true);\n        msg.payload = false;\n        return msg;\n    }\n    else if(fridge_temp < LOWER_FRIDGE_TEMP_THRESHOLD) {\n        msg.payload = false;\n        return msg;\n    }\n    else {\n        msg.payload = Boolean(global.get('fridge_status') || 0);\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 360,
        "wires": [
            [
                "1447651ddc652524"
            ]
        ]
    },
    {
        "id": "824207ada65b92c0",
        "type": "link in",
        "z": "78b28997a4d07be2",
        "name": "fridge temp",
        "links": [
            "8a9c33c902845731"
        ],
        "x": 225,
        "y": 380,
        "wires": [
            [
                "cdfe4e7906432fc7"
            ]
        ]
    },
    {
        "id": "9342b1041f1f9ae3",
        "type": "change",
        "z": "78b28997a4d07be2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "algorithm",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "59f6bbaa386ef7db"
            ]
        ]
    },
    {
        "id": "d549bd85a95f082e",
        "type": "comment",
        "z": "78b28997a4d07be2",
        "name": "fridge temp Interrupt",
        "info": "",
        "x": 110,
        "y": 380,
        "wires": []
    },
    {
        "id": "fc70ec1c8f6bc9d5",
        "type": "link out",
        "z": "78b28997a4d07be2",
        "name": "fridge motor",
        "mode": "link",
        "links": [
            "1ee8a0ddf5ec7130"
        ],
        "x": 1355,
        "y": 300,
        "wires": []
    },
    {
        "id": "0e2de6308da39b4e",
        "type": "function",
        "z": "78b28997a4d07be2",
        "name": "initialize variables",
        "func": "",
        "outputs": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nif(flow.get('algorithm') == undefined){\n    flow.set('algorithm', \"always off\");\n}",
        "finalize": "",
        "libs": [],
        "x": 110,
        "y": 120,
        "wires": []
    },
    {
        "id": "51ed073e7b2f0fd3",
        "type": "link call",
        "z": "78b28997a4d07be2",
        "name": "temp update trigger",
        "links": [
            "dcb33a114f4794bd"
        ],
        "timeout": "30",
        "x": 360,
        "y": 140,
        "wires": [
            [
                "59f6bbaa386ef7db"
            ]
        ]
    },
    {
        "id": "1447651ddc652524",
        "type": "change",
        "z": "78b28997a4d07be2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fridge_status",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 280,
        "wires": [
            [
                "fc70ec1c8f6bc9d5",
                "66293dd11ebae5b0"
            ]
        ]
    },
    {
        "id": "e82eeaba3ef35cbd",
        "type": "link in",
        "z": "78b28997a4d07be2",
        "name": "SOC IN",
        "links": [
            "10890d3192203f91"
        ],
        "x": 225,
        "y": 340,
        "wires": [
            [
                "59f6bbaa386ef7db"
            ]
        ]
    },
    {
        "id": "cdfe4e7906432fc7",
        "type": "change",
        "z": "78b28997a4d07be2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fridge_temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 380,
        "wires": [
            [
                "59f6bbaa386ef7db",
                "08c5c713b62ce9a6"
            ]
        ]
    },
    {
        "id": "3036db57fd8806a8",
        "type": "comment",
        "z": "78b28997a4d07be2",
        "name": "LFP SOC Interrupt",
        "info": "",
        "x": 110,
        "y": 340,
        "wires": []
    },
    {
        "id": "59f6bbaa386ef7db",
        "type": "switch",
        "z": "78b28997a4d07be2",
        "name": "",
        "property": "algorithm",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "always off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "always on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "winter",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "summer",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "battery life",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "3313eca393a477fb"
            ],
            [
                "6dd922fb88a0058b"
            ],
            [
                "883ff0dabf8e8aaa"
            ],
            [
                "1966728c9236e2bb"
            ],
            [
                "a0bbb818d234da39"
            ]
        ]
    },
    {
        "id": "0c055e683c279be6",
        "type": "comment",
        "z": "78b28997a4d07be2",
        "name": "Fridge compressor",
        "info": "",
        "x": 1490,
        "y": 300,
        "wires": []
    },
    {
        "id": "66293dd11ebae5b0",
        "type": "function",
        "z": "78b28997a4d07be2",
        "name": "",
        "func": "if(flow.get('low_soc') == true) {\n    msg.payload = \"error\";\n    flow.set('low_soc', undefined);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 260,
        "wires": [
            [
                "2a87cc921872582f",
                "27950db3a8645c87"
            ]
        ]
    },
    {
        "id": "27950db3a8645c87",
        "type": "debug",
        "z": "78b28997a4d07be2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 120,
        "wires": []
    },
    {
        "id": "0d8e3427da114831",
        "type": "rpi-gpio in",
        "z": "162cea04a51a0717",
        "name": "reservoir sen",
        "pin": "6",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "173762bf3ce1a121"
            ]
        ]
    },
    {
        "id": "9ad42ad1ea3659c3",
        "type": "rpi-gpio in",
        "z": "162cea04a51a0717",
        "name": "inverter switch",
        "pin": "16",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 340,
        "y": 180,
        "wires": [
            [
                "89d18d24e97ba65f"
            ]
        ]
    },
    {
        "id": "0c296120e3b8b1ad",
        "type": "rpi-gpio in",
        "z": "162cea04a51a0717",
        "name": "water sen",
        "pin": "20",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "f5d6cb1e3511cdae"
            ]
        ]
    },
    {
        "id": "cf77fa3e2ca39d65",
        "type": "rpi-gpio in",
        "z": "162cea04a51a0717",
        "name": "pump switch",
        "pin": "21",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 330,
        "y": 260,
        "wires": [
            [
                "466409e79e012929"
            ]
        ]
    },
    {
        "id": "466409e79e012929",
        "type": "ui_led",
        "z": "162cea04a51a0717",
        "order": 4,
        "group": "7d05444eba45da17",
        "width": 0,
        "height": 0,
        "label": "pump switch state:",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led pump switch",
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "173762bf3ce1a121",
        "type": "ui_led",
        "z": "162cea04a51a0717",
        "order": 1,
        "group": "7d05444eba45da17",
        "width": 0,
        "height": 0,
        "label": "reservoir state:",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led reservoir",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "89d18d24e97ba65f",
        "type": "ui_led",
        "z": "162cea04a51a0717",
        "order": 2,
        "group": "7d05444eba45da17",
        "width": 0,
        "height": 0,
        "label": "inverter switch state:",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led inverter switch",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "f5d6cb1e3511cdae",
        "type": "ui_led",
        "z": "162cea04a51a0717",
        "order": 3,
        "group": "7d05444eba45da17",
        "width": 0,
        "height": 0,
        "label": "water sensor state:",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led water sensor",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "8bdc0ad591b59ea7",
        "type": "debug",
        "z": "162cea04a51a0717",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 720,
        "wires": []
    },
    {
        "id": "4ad8306cc0f623a2",
        "type": "inject",
        "z": "162cea04a51a0717",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 540,
        "wires": [
            [
                "036150936425b19a",
                "055da7845f57ef57"
            ]
        ]
    },
    {
        "id": "036150936425b19a",
        "type": "i2c in",
        "z": "162cea04a51a0717",
        "name": "",
        "busno": "1",
        "address": "105",
        "command": "16",
        "count": "3",
        "x": 250,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "a0b92734684d1f04",
        "type": "function",
        "z": "162cea04a51a0717",
        "name": "",
        "func": "\nvar adc_val = msg.payload[1]+ (msg.payload[0]<<8);\nvar voltage_val = Math.round(adc_val);\nmsg.payload = adc_val;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "31ef7c8c1c70049b",
        "type": "i2c scan",
        "z": "162cea04a51a0717",
        "name": "",
        "busno": "1",
        "x": 220,
        "y": 680,
        "wires": [
            [
                "8bdc0ad591b59ea7"
            ],
            []
        ]
    },
    {
        "id": "47cdcb0f6df16690",
        "type": "inject",
        "z": "162cea04a51a0717",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 620,
        "wires": [
            [
                "31ef7c8c1c70049b"
            ]
        ]
    },
    {
        "id": "055da7845f57ef57",
        "type": "delay",
        "z": "162cea04a51a0717",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 250,
        "y": 580,
        "wires": [
            [
                "6861e23f2f51feed"
            ]
        ]
    },
    {
        "id": "6861e23f2f51feed",
        "type": "i2c in",
        "z": "162cea04a51a0717",
        "name": "",
        "busno": "1",
        "address": "105",
        "command": "16",
        "count": "3",
        "x": 390,
        "y": 580,
        "wires": [
            [
                "8bdc0ad591b59ea7"
            ]
        ]
    },
    {
        "id": "b19c3b71d991e062",
        "type": "serial in",
        "z": "ffd71fb61f1d4553",
        "name": "",
        "serial": "594a8a527370c352",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "8eb1ff939cbcc3d7",
                "086f1eb819c169f0"
            ]
        ]
    },
    {
        "id": "a8da268bbe5325e2",
        "type": "debug",
        "z": "ffd71fb61f1d4553",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "8eb1ff939cbcc3d7",
        "type": "join",
        "z": "ffd71fb61f1d4553",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "21",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 310,
        "y": 300,
        "wires": [
            [
                "86907e3547eabe12"
            ]
        ]
    },
    {
        "id": "86907e3547eabe12",
        "type": "delay",
        "z": "ffd71fb61f1d4553",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 300,
        "wires": [
            [
                "a8da268bbe5325e2"
            ]
        ]
    },
    {
        "id": "086f1eb819c169f0",
        "type": "debug",
        "z": "ffd71fb61f1d4553",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 360,
        "wires": []
    }
]